<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeber.mapper.ClazzMapper">
    <select id="list" resultType="com.zeber.pojo.Clazz">
        select c.*, e.name masterName from clazz as c left join emp as e on c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                c.name like concat('%', #{name}, '%')
            </if>
            <if test="begin != null and end != null">
                and c.end_data between #{begin} and #{end}
            </if>
        </where>
    </select>
    <delete id="deleteById">
        delete from clazz where id = #{id}
    </delete>
    <insert id="insert">
        insert into clazz(name, room, begin_date, end_date, master_id, subject, create_time, update_time)
        values (#{name}, #{room}, #{beginDate}, #{endDate}, #{masterId}, #{subject}, #{createTime}, #{updateTime})
    </insert>
    <select id="getById">
        select * from clazz as c where c.id = #{id}
    </select>

    <update id="updateById">
        update clazz
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="room != null and room != ''">room = #{room},</if>
            <if test="beginDate != null">begin_date = #{beginDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="masterId != null">master_id = #{masterId},</if>
            <if test="subject != null">subject = #{subject},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>

    <select id="findAll">
        select * from clazz
    </select>
</mapper>